Source: vmod-static
Section: web
Priority: optional
Maintainer: Componentry <componentry@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/stanhope/vmod-static
#Vcs-Git: git://git.debian.org/collab-maint/vmod-static.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vmod-static.git;a=summary

Package: vmod-static
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},mime-support,gawk,file
Description: this is the description
 This is the long description

